- name: Installing nginx
  ansible.builtin.dnf:
    name: nginx
    state: installed

- name: Start and enable the nginx service 
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: true

# - name: Removing nginx default content
#   ansible.builtin.file:
#     path: /usr/share/nginx/html
#     state: absent

# - name: creating html
#   ansible.builtin.file:
#     path: /usr/share/nginx/html
#     state: directory

# - name: Download and unzip the frontend content
#   ansible.builtin.unarchive:
#     src: https://expense-builds.s3.us-east-1.amazonaws.com/expense-frontend-v2.zip
#     dest: /usr/share/nginx/html/
#     remote_src: yes

- name: include from common role 
  ansible.builtin.include_role:
    name: commom
    tasks_from: main

- name: copy expense config
  ansible.builtin.template:
    src: expense.conf.j2
    dest: /etc/nginx/default.d/expense.conf
  notify:
  - Restart nginx service
